<div class="alert alert-info alert-dismissible" role="alert" style="margin-top: 20px;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p style="font-size: 18px">
  <strong>Hey, there!</strong> I'm currently hiring for a <strong><a href="https://careers-harpercollins.icims.com/jobs/5244/senior-mobile-app-developer-%28remote%29/job" style="color: #fff">Senior Mobile App Developer</a></strong> role at HarperCollins Christian Publishing. If you or someone you know is interested, please let me know via <strong><a href="https://linkedin.com/in/samuelmullen/" style="color: #fff;">LinkedIn</a></strong>.
  </p>
</div>
