{% include header.html %}

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-10 page-header col-md-offset-1">
      <div class="alert alert-info alert-dismissible" role="alert" style="margin-top: 20px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p style="font-size: 18px">
        <strong>Hey there!</strong> I’m on the lookout for my next engineering leadership adventure. If you know of any roles let me know through my <a href="/contact" style="color: #fff;">contact page</a> or on <a href="https://linkedin.com/in/samuelmullen/" style="color: #fff;">LinkedIn</a>.
        </p>
      </div>

      <h1>{{ page.title }}</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>
</div>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56eb401f77cba449"></script>

{% include footer.html %}
