---
layout: default
---

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="alert alert-info alert-dismissible" role="alert" style="margin-top: 20px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p style="font-size: 18px">
        <strong>Hey there!</strong> I’m on the lookout for my next engineering leadership adventure. If you know of any roles let me know through my <a href="/contact" style="color: #fff;">contact page</a> or on <a href="https://linkedin.com/in/samuelmullen/" style="color: #fff;">LinkedIn</a>.
        </p>
      </div>

      <h1 class="page-header">
        Articles
      </h1>
    </div>
  </div>

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-10 col-md-offset-1">
      {% for post in paginator.posts %}
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="lead">{{ post.date | date: "%B %e, %Y" }}</p>
        <p>{{ post.description }}</p>

        <hr>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
          Previous
        </a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>
  </div>
</div>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56eb401f77cba449"></script>
